.tableRow{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;    

    .id{
        padding: 10px 15px;
        border-top: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        border-left: 1px solid #f2f2f2;
        // border-bottom: 1px solid #f2f2f2;
        // border: 1px solid #f2f2f2;
        // width: 68px;
        min-width: 68px;    
    }

    .title{
        padding: 10px 15px;
        border-top: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        // border-left: 1px solid #f2f2f2;
        // border-bottom: 1px solid #f2f2f2;
        min-width: 722px;    
    }

    .action{
        padding: 10px 15px;
        border-top: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        // border-left: 1px solid #f2f2f2;
        // border-bottom: 1px solid #f2f2f2;
        min-width: 88px;

        .actionUl{
            margin: 0px;
            padding: 0px;
            display: flex;

            .liEdit{
                list-style-type: none;
                margin: 0px 5px;
                width: 34px;
                height: 32px;
                border-radius: 4px; 
                border: 1px solid #62a60a; 
                &:hover{
                    background-color: #62a60a;
                    color: #fff!important;
                }
                
                a{
                    padding: 0px 10px;
                    i{
                        &:before{
                            content: "\2716";
                        }    
                    }


                }
            }

            .liDel{
                list-style-type: none;
                margin: 0px 5px;
                width: 34px;
                height: 32px;
                border-radius: 4px;
                border: 1px solid #e61e1e;
                &:hover{
                    background-color: #e61e1e;
                }
            }
        }
    }

    // :after{

    // }
    
}

