
.wraper{
    max-width: 962px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 15px;
    font: inherit;
    height: 100vh;
    position: relative;

    .pageindex{
               
        .header{
            display: -webkit-flex;
            display: flex;
            height: 32px;

            .h_title{
                width: 874px;
                height: 32px;
                display: flex;
                align-items: center;
                h1{
                    display: flex;
                    align-items: center;
                    font-family: 'Times New Roman';
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font:200%;
                    height: 32px;
                    font-size: 27px;
                    font-weight: inherit;
                }
            }
            .h_adding{
                width: 92,72px;
                height: 32px;
                span{
                    font-size: 16px;
                }
                .btn_icon{
                    width: 92,72px;
                    height: 32px;
                    border-color: #62a60a;
                }

                .btn_icon:hover{
                    background-color: #62a60a;
                    color: #fff;
                }
            }
            

        }

        .main{

            // min-height: calc((100vh-22px));
            // height: 88vh; 
            padding: 15px 0px; 
                // :nth-last-child(-n+1){
                //     border-bottom: 1px solid #f2f2f2;
                // }
        }

        .footer{
            width: 962px;
            height: 22px;
            background-color: #1a1a1a;
            color: #fff;
            padding: 10px 15px;
            margin-left: -15px;
            margin-right: -15px;
            -webkit-transform: translateY(15px);
            transform: translateY(15px);
            p{
                margin: 0px;
            }
        }
    }

}

button{
    border-radius: 4px;
    transition: all .1s ease-in-out;
    padding: 0 10px;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    color: #1a1a1a;
    line-height: 30px;
    display: inline-block;
}
