body {
    display:flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    background-color: #f2f2f2;
    font-family: "Tahoma";
    font-size: 14px;
  }

    .page-index{
        width: 1000px;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column ;
        justify-content: space-between;
        font: inherit;
    
        &__header {
            min-width: 548px;
            max-height: 32px;
            min-height: 32px;
            padding: 15px;
            
            font: inherit; 
            display: flex;
            flex-direction: row;

            &_title{
                width: 80%;
                min-height: 32px;
                max-height: 32px;
                h1{
                    width: inherit;
                    height: 32px;
                    padding: 0px;
                    margin: 0px;
                    font: inherit;
                    font-size: 27.5px;
                    line-height: 32px;
                }        
            }
            &_bottun{

                width: 20%; 
                min-height: 32px;
                max-height: 32px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                font: inherit; 
                button{
                    min-width: 88px;
                    min-height: 32px;
                    border-radius: 4px;
                    transition: all .1s ease-in-out;
                    padding: 0 10px;
                    border: 1px solid #62a60a;
                    background-color: #fff;
                    color: #1a1a1a;
                    line-height: 30px;
                    display: inline-block;
                    font: inherit;
                    &:hover{
                        background-color: #62a60a;
                        color: #fff;        
                    }
                }                
            }
        }    
        &__main {            
            width: 970px;
            height: 100%;
            padding: 0px 15px;
            overflow: auto;
            // border-collapse: collapse; 
            
        }
        &__form{
          
          display: flex;
          flex-direction: column;
          
          font: inherit;
          width: 970px;
          height: 120px;
          &-group{
            display: flex;
            flex-direction: column;  
          }
          &-input{
          width: 500px; 
          height: 32px;

          }

          &-group-button{
            margin: 15px 0px 0px;    
          }

          a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration:none;
            height: 100%;
            color: #1a1a1a;
            padding: 0px 0px;
            
            &:hover{
              border-color: #2058d3;
              background-color: #2058d3;
              color: #fff;  
            }
          }

        }
        
        &__form-group-bottun{       
          margin: 15px 0px 0px;
        }
        
        &__btn-def{
          width: 150px; 
          height: 30px;
          border-radius: 4px;
          padding: 0px 0px;
          border: 1px solid #f2f2f2;
          background-color: #fff;
          color: #1a1a1a;
          
          &:hover{
            border-color: #2058d3;
            background-color: #2058d3;
            color: #fff;
          }        
        }

        &__footer {
            display: flex;
            align-items: center;
            font: inherit;
            padding: 10px 15px 10px 15px;
            max-width: 970px;
            height: 22px;
            background-color: #1a1a1a;
            color: #fff;
            p{
                padding: 0px;
                margin: 0px;
            }
    }
  }

  .popup-index{
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0,0%,100%,.75);    
  }
  .popup{
    width: 450px;
    height: 150px;
    padding: 15px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.18), 0 1px 2px 0 rgba(0,0,0,.04), 0 2px 6px 0   rgba(0,0,0,.04);
    position: relative;
    top: 25%;
    left: 35%;
    &__main{
      width: 450px;
      height: 150px;
  
      &_wraper{
        width: 450px;
        height: 30px;
        display: flex;
        justify-content: flex-end; 
      }
      &_button{
        width: 12px;
        height: 30px;
        padding: 0px 15px;
        background-color: #ffff;
        border-radius: 4px; 
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          color: #ffff;
          background-color: red;  
        }
        
        i:before{content: "X"}
      }
      
      &_grup{
        font-family: Tahoma;
        font-size: 14px;
        line-height: 1.618;
        color: #000;      
        width: 450px;
        height: 120px; 
        // background-color: red;
        display: flex;
        flex-direction: column;
        
      }
      .popup__main_grup1{
        font: inherit;
        display: flex;
        flex-direction: column; 
        &_input{
          font: inherit;
          width: 350px;
          height: 20px;
          border-radius: 4px;
          cursor: text;
          padding: 1px 0px;
          border: 1px solid #f2f2f2;
        }
        .popup__main_grup1_input-notify{
          height: 15px;  
        }
      }
      .popup__main_grup2{
        margin: 15px 0px 0px;
        button{
          border-radius: 4px;
          transition: all .1s ease-in-out;
          padding: 0 10px;
          border: 1px solid #f2f2f2;
          background-color: #fff;
          color: #1a1a1a;
          line-height: 30px;
          display: inline-block;
          &:hover{
            border-color: #2058d3;
            background-color: #2058d3;
            color: #fff;
          }
        }
      }
      
    }
    
  }